.profile {
  margin-bottom: 60px;
  .upside-menu {
    width: 100%;
    height: 60px;
  }
  .user-block {
    border: 1px solid #ccc;
  }
  .user-block img {
    padding: 5%;
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
  }
  p {
    font-family: "Roboto", sans-serif;
  }
  .user-name {
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
  }
  img.confirmed {
    margin-left: 1px;
    padding: 0;
    display: inline-block;
    width: 26px;
    height: auto;
  }
  .user-status {
    font-weight: 300;
    font-size: 16px;
    color: #7f8384;
    text-align: center;
  }
  .user-menu {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .user-menu li {
    cursor: pointer;
    width: 100%;
    height: 3em;
    border-top: 1px solid #ccc;
    line-height: 3em;
    text-align: center;
    transition: all .3s ease;
  }
  .user-menu li:hover {
    background: #e1e1e1;
  }
  .user-window {
    border-radius: 3px;
    width: 100%;
    height: 100%;
  }
  .post-products-column {
    img {
      width: 30%;
    }
  }

}

.fa-pencil-alt {
  margin-right: 5px;
}

.honest {
  color: #585858;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;
  max-width: 35px;
  padding: 0 4px 0 6px;
  text-transform: uppercase;
}

.honest.light {
  background: #FEFBAF;
}

.honest.medium {
  background-color: rgba(0, 0, 0, 0.07);
}

.honest.heavy {
  background: #FBB829;
}

.user-block.buy-pro {
  margin-top: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-block .add-new-product {
    cursor: pointer;
    margin: 0;
    margin-left: 15px;
    background: #f2f2f2;
    text-decoration: none;
    color: #aaa;
    border: 3px solid #ccc;
    transition: all 0.3s ease;
  }
  .fa-plus {
    transition: all 0.3s ease;
    color: #aaa;
    margin-left: 10px;
  }
  .add-new-product:hover {
    color: #454545;
    transform: scale(1.03);
  }
  .add-new-product:hover .fa-plus {
    color: #454545;
  }
