$main-color: #778f51;
$main-color-hover: #91aa69;
$nav-bar: #F2F2F2;


.post-products-column {
  .cards {
    display: flex;
    flex-flow: column;
    margin: 20px auto;
  }

  .card {
    background: #fafafa;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 13px 0px rgba(179,179,179,1);
    margin: 1% 0;
    height: 200px;
    cursor: pointer;
    transition: all 0.3s ease;
    img {
      height: 100%;
      width: 25%;
    }
    .description {
      display: inline-flex;
      flex-direction: column;
      width: 75%;
      height: 100%;
      padding: 1%;
      .text {
        font-size: 14px;
        margin: 0;
        margin-bottom: 5px;
      }
    }
    .down-list {
      list-style: none;
      display: flex;
      justify-content: space-between;
      flex-flow: row;
      margin: 0;
      padding: 0;
    }
    .see-more {
      float: right;
      display: inline-block;
    }
    .price {
      display: inline-block;
      color: $main-color-hover;
      font-size: 1.1em;
    }
  }

  .card:hover {
    transform: scale(1.05);
  }
}

.post-products-column {
  .button_to {
    display: inline-flex;
  }
  .edit-product {
    cursor: pointer;
    background: #fafafa;
    text-decoration: none;
    color: #aaa;
    border: 0;
  }
}

@media (max-width: 991px) {
  .post-products-column .card {
    img {
      width: 35%;
    }
    .description {
      width: 65%;
    }
  }
}

@media (max-width: 768px) {
  .post-products-column .card {
    img {
      width: 40%;
    }
    .description {
      width: 60%;
    }
  }
}

@media (max-width: 768px) {
  .post-products-column .container {
    max-width: 700px;
  }
}

@media (max-width: 490px) {
  .post-products-column {
    .card {
      height: 400px;
      margin-top: 15px;
      flex-direction: column;
      img {
        height: 60%;
        width: 100%;
      }
      .description {
        width: 100%;
        padding: 15px;
      }
    }
  }
}
