$main-color: #778f51;
$main-color-hover: #91aa69;
$nav-bar: #F2F2F2;


.post-products-row {
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
    transition: all 0.3s ease;
    flex: 0 1 24%;
    background: #fafafa;
    display: flex;
    margin-bottom: 3%;
    flex-direction: column;
    height: 415px;
    box-shadow: 0px 2px 13px 0px rgba(179,179,179,1);
    img {
      width: 100%;
      height: 40%;
    }
  }

  .empty-card {
    opacity: 0;
    pointer-events: none;
    width: 264px;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .description {
    padding: 15px;
    height: 60%;
    .text {
      height: 66%;
      overflow: hidden;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
    }
    .price {
      color: $main-color-hover;
      font-size: 1.1em;
    }
  }
}

@media (max-width: 991px) {
  .post-products-row {
    .card {
      flex: 0 1 49%;
    }
  }
}

@media (max-width: 378px) {
  .post-products-row {
    .card {
      margin-top: 15px;
      flex: 0 1 99%;
    }
  }
}
