.open-currency-menu {
  position: relative;
}

.open-currency-menu:hover .currency-menu a {
  color: #202020!important;
}

.currency-menu {
  display: none;
  position: absolute;
  top: 25px;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  list-style: none;
  z-index: 1;
  padding: 0;
  background: #fff;
  li {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  p {
    margin: 0;
  }
  a {
    display: flex;
    padding: 3px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 25px;
    margin-right: 5px;
    height: 25px;
  }
}
