#put-email {
  display: flex;
  flex-flow: row;
  font-size: 15px;
  position: relative;
  background: #e4eeff;
  padding: 14px 0;
  justify-content: center;
  align-items: center;
  img {
    margin-right: 10px;
  }
  p {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  input {
    border: 0;
    margin: 0 10px;
    outline: none;
    padding: 2.5px 5px;
  }
}

footer {
  background: #f4f4f4;
  padding-top: 40px;
  .buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
  }
  h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 0 0 16px;
    color: #454545;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li a {
    text-decoration: none;
    font-size: 13px;
    line-height: 28px;
    padding: 0 0 8px;
    color: #666;
    transition: color .3s ease;
  }
  li a:hover {
    text-decoration: none;
    color: #FF0000;
  }
  #footer-slider {
    height: 224px!important;
    img {
      height: 224px!important;
    }
  }
}

#lower-footer {
  display: flex;
  padding: 18px 0;
  font-size: 13px;
  line-height: 20px;
  background: #e8e8e8;
  color: #999;
  justify-content: space-between;
  ul.menu {
    margin: 0;
    padding: 0!important;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  .social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img {
      cursor: pointer;
      opacity: 0.2;
      margin: 0 7px;
      width: 25px;
      height: 25px;
      transition: all 0.3s ease;
    }
    img:hover {
      opacity: 1;
    }
  }
}


#copyright-block {
  display: flex;
  padding: 18px 24px;
  font-size: 13px;
  line-height: 20px;
  background: #e8e8e8;
  color: #999;
  justify-content: space-between;
  ul.menu {
    margin: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  ul.menu a {
    text-decoration: none;
    color: #999;
    margin-left: 28px;
  }
  ul.menu a:hover {
    text-decoration: none;
    color: #FF0000;
  }
  .copyright p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #8792a8;
  }
  .copyright a {
    color: #8792a8;
    text-decoration: none;
  }
  .copyright a:hover {
    color: #FF0000;
    text-decoration: auto;
  }
}
