.new-estate .post-products-column .card {
  img {
    width: 40%;
  }
  .description {
    width: 60%;
  }
  i {
    display: none;
  }
}

.new-estate .post-products-column .card.active {
  border: 2px solid #2b87db;
}
