$main-color: #778f51;
$main-color-hover: #91aa69;
$nav-bar: #F2F2F2;

.choose-products-view {
  list-style: none;
  padding-top: 10px;
  li {
    text-align: center;
    height: auto;
    padding: 5px 5px 3px 5px;
    display: inline-block;
    transition: all .3s ease;
    cursor: pointer;
    i {
      font-size: 2em;
      color: $main-color;
    }
  }
  li:hover i {
    color: $main-color-hover;
  }
  li:hover {
    transform: scale(1.06);
  }
}


.post-products-default {
  .fa-fire {
    font-size: 1em;
    color: #FF6F29;
  }
  .fa-heart {
    float: right;
    font-size: 1em;
    color: #FE4365;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .transparent {
    opacity: 0.2;
  }
  .add-to-favorite {
    cursor: pointer;
    margin-left: 15px;
    background: #f2f2f2;
    text-decoration: none;
    color: #aaa;
    border: 3px solid #ccc;
    transition: all 0.3s ease;
  }
  .add-new-product:hover {
    color: #454545;
    transform: scale(1.03);
  }
}

@media (max-width: 490px) {
  .choose-products-view {
    display: none;
  }
}
