$main-color: #778f51;
$main-color-hover: #91aa69;
$nav-bar: #F2F2F2;

.choose-products-view {
  list-style: none;
  padding-top: 10px;
  li {
    text-align: center;
    height: auto;
    padding: 5px 5px 3px 5px;
    display: inline-block;
    transition: all .3s ease;
    cursor: pointer;
    i {
      font-size: 2em;
      color: $main-color;
    }
  }
  li:hover i {
    color: $main-color-hover;
  }
  li:hover {
    transform: scale(1.06);
  }
}


.post-products-default {
  .fa-fire {
    font-size: 1em;
    color: #FF6F29;
  }
  .fa-exclamation-triangle {
    font-size: 1em;
    margin: 0 8px;
    color: #FE4365;
  }
  .fa-heart {
    font-size: 14px;
    color: #FE4365;
    margin-left: 8px;
    display: flex;
    align-items: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .transparent {
    opacity: 0.2;
  }
  .add-to-favorite {
    cursor: pointer;
    margin-left: 15px;
    background: #f2f2f2;
    text-decoration: none;
    color: #aaa;
    border: 3px solid #ccc;
    transition: all 0.3s ease;
  }
  .add-new-product:hover {
    color: #454545;
    transform: scale(1.03);
  }
  .fa-pencil-alt {
    color: gray;
    margin-left: 10px;
  }
  .fa-trash-alt {
    color: gray;
    margin-left: 10px;
  }
  .fa-map {
    color: #2e9e00;
  }
}

/* text, colors, fonts */
.post-products-default {
  .name {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.38;
    opacity: .9;
  }
  .estate {
    font-size: 14px;
    line-height: 1.43;
    text-decoration: none;
    color: #2b87db;
  }
  .price {
    margin-bottom: 0;
    margin-top: -2px;
    margin-left: -8px;
    padding: 2px 8px 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }
  .price-for-metre {
    padding-bottom: 2px;
    font-size: 14px;
    line-height: 1.43;
    color: #7a7a7a;
  }
  .text {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #121212;
    margin: 0;
  }
  .owner-name {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #121212;
  }
  .developer {
    color: #2e9e00;
    background-color: rgba(46,158,0,.07);
    padding: 1px 6px 2px;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .show-phone h4 {
    margin: 0!important;
  }
}


@media (max-width: 490px) {
  .choose-products-view {
    display: none;
  }
}
