.nav-bar {
  background: #fff;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 50px 10px rgba(0,0,0,.05);
  width: 100%;
  position: relative;

  .nav-items {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  li {
    cursor: pointer;
    padding: 10px 15px 12px 15px;
    position: relative;
  }
  li:hover a {
    color: #FF0000;
  }
  li a {
    text-decoration: none;
    color: gray;
    transition: color .25s ease-out,border-color .25s ease-out;
    font-size: .8em;
    font-family: "Roboto", sans-serif;
  }
}

.nav-bar .dp-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 46px;
    left: 0px;
    li {
      display: flex;
      width: 130px;
      flex-direction: row;
      height: 120px;
      padding: 20px;
    }
    li a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #665822;
      text-align: center;
    }
    li:hover a {
      color: #665822;
    }
    i {
      text-align: center;
      font-size: 3em;
      color: #665822;
    }
  }

.nav-bar .dp-background {
  display: block;
  width: 100%;
  height: 120px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7px 0px;
  background: #fd5;
}

.dp-menu li:hover {
  background: #ffeb99;
}

.dp-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 36px;
  left: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fd5 transparent;
}
