<head>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".post-products-row").hide();
      $(".open-products-column").click(function(){
        $(".post-products-row").hide();
        $(".post-products-column").show();
      });
      $(".open-products-row").click(function(){
        $(".post-products-column").hide();
        $(".post-products-row").show();
      });
    });
  </script>

</head>
<div class="favorite container">
  <ul class="container choose-products-view">
    <li class="open-products-column"><i class="fas fa-align-justify"></i></li>
    <li class="open-products-row"><i class="fas fa-th-large"></i></li>
  </ul>

  <div class="post-products-default post-products-column">
    <%= render partial: "products/post-products-column", :locals => {:show_products => @deffered} %>
  </div>
  <div class="post-products-default post-products-row">
    <%= render partial: "products/post-products-row", :locals => {:show_products => @deffered} %>
  </div>

</div>
