<div class="card-top">
  <div class="breadcrumbs">
    <span>
      <a href='#'><span>Недвижимость в Москве</span><i class="fas fa-angle-right"></i></a>
    </span>
    <span>
      <a href='#'><span>Продажа</span><i class="fas fa-angle-right"></i></a>
    </span>
    <span>
      <a href='#'><span>Продажа земельных участков в Московской области</span><i class="fas fa-angle-right"></i></a>
    </span>
    <span>
      <a href='#'><span>Первомайское поселение</span><i class="fas fa-angle-right"></i></a>
    </span>
    <span>
      <a href='#'><span><%= @estate.title %></span></a>
    </span>
  </div>
  <div class="views-info">
    <div class="row">
      <div class="col-sm-4">
        <p>сегодня, 04:31</p>
        <a href='#'><i class="far fa-eye"></i>638 просмотров, 2 за сегодня</a>
      </div>
    </div>
  </div>
</div>
