<div class="post-products-default post-products-column post-user-products">
  <div class="post-products-column">
    <%= render partial: "products/post-products-column", :locals => {:show_products => @products} %>
  </div>
</div>
