<section>
  <div class="content">
    <div class="price">
      <h4><%= show_price(@product.price) %></h4>
    </div>
    <a href="#"><i class="far fa-envelope"></i>Следить за изменением цены</a>
    <button class="show-phone-button" style="padding: 10px 16px 10px 16px; width: 200px">Показать телефон</button>
    <div class="show-phone">
      <h4><%= @user.phone %></h4>
      <p>Пожалуйста, скажите, что нашли это объявление на ZGRD</p>
    </div>
    <button class="write-to-button">Написать сообщение</button>
  </div>
  <div class="author">
    <% if @user.pro != "nill" %>
      <h4 class="honest">PRO</h4>
    <% end %>
    <p>ID <%= show_id(@user.id) %></p>
  </div>
</section>

<section class="advertisment">
  <a href="#">
    <img src="https://dekoriko.ru/images/article/orig/2018/03/doma-s-mansardoj-iz-penoblokov-prostye-proekty-i-planirovka-prostranstva-50.jpg" />
    <div class="description">
      <h4>Реклама</h4>
      <p>Эксклюзивное инженерное решение «Проект 240» - тепловой контур дома со скидкой 50%. Кредит от 13%</p>
    </div>
  </a>
</section>
