<div class="container">
  <section class="cards">
    <% show_products.each_with_index do |pr, index| %>
      <article class="card">
        <%= image_tag pr.avatar.url %>
        <div class="description">
          <h5><%= pr.name %></h5>
          <p class="text"><%= pr.description %></p>
          <h3 class="price" ><%= show_price(pr.price) %></h3>
        </div>
      </article>
      <% end %>
    </section>
</div>
