<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

</head>
<body class="main-products">

  <%= request.remote_ip + "ss" %>
  <%= request.env['HTTP_X_REAL_IP'] + "sdf" %>

  <ul class="container choose-products-view">
    <li class="open-products-column"><i class="fas fa-align-justify"></i></li>
    <li class="open-products-row"><i class="fas fa-th-large"></i></li>
  </ul>

  <div class="post-products-default post-products-column">
    <%= render partial: "post-products-column", :locals => {:show_products => @index_products} %>
  </div>

  <div class="post-products-default post-products-row">
    <%= render partial: "post-products-row", :locals => {:show_products => @index_products} %>
  </div>

</body>
</html>
