<div class="notification-wrapper">
  <ul>
    <div class="head">
      <p>Уведомления</p>
      <p>Настройки</p>
    </div>
    <% unread_messages.each do |message| %>
    <li><%= link_to conversations_path(conversation_id: message.conversation.id) do %>
      <i class="fas fa-circle"></i><%= message.body %><span><%= message.user.first_name %></span>
      <% end %></li>
      <% end %>
  </ul>
</div>
