<div class="notification-wrapper">
  <% if user_signed_in? && unread_messages.present? %>
    <ul>
      <div class="head">
        <p>Уведомления</p>
        <p>Настройки</p>
      </div>
      <% unread_messages.each do |message| %>
        <li>
          <%= link_to conversations_path(conversation_id: message.conversation.id) do %>
            <i class="fas fa-circle"></i><%= "«"+message.body.split(" ").first.gsub(/\p{^Alnum}/, '') + "...»" %><span><%= message.user.first_name %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% else %>
      <div class="head">
        <p>Нет уведомлений</p>
      </div>
    <% end %>
</div>
